WebServiceTest/Web References/CreatePdfService/CreatePdf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreatePdfFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strHtml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePdfFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreatePdfFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreatePdfFileSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePdfFile" />
  </wsdl:message>
  <wsdl:message name="CreatePdfFileSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePdfFileResponse" />
  </wsdl:message>
  <wsdl:portType name="CreatePdfSoap">
    <wsdl:operation name="CreatePdfFile">
      <wsdl:input message="tns:CreatePdfFileSoapIn" />
      <wsdl:output message="tns:CreatePdfFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreatePdfSoap" type="tns:CreatePdfSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePdfFile">
      <soap:operation soapAction="http://tempuri.org/CreatePdfFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreatePdfSoap12" type="tns:CreatePdfSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePdfFile">
      <soap12:operation soapAction="http://tempuri.org/CreatePdfFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreatePdf">
    <wsdl:port name="CreatePdfSoap" binding="tns:CreatePdfSoap">
      <soap:address location="http://localhost:1065/CreatePdf.asmx" />
    </wsdl:port>
    <wsdl:port name="CreatePdfSoap12" binding="tns:CreatePdfSoap12">
      <soap12:address location="http://localhost:1065/CreatePdf.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>